*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
html{
  font-size: $bf-size;
}
body{
	font-family: $f-roboto;
  background: $dark;
	font-weight: $bf-weight;
	color: $creme;
}
a{
	text-decoration: none;
	color: $creme;
}
ul{
  list-style-type: none;
  margin-bottom: 0 !important;
}
hr{
  background: $creme;
  width: 35%;
  margin: 4px 0;
}
p{
  line-height: $p-line-height;
  word-break: break-word;
  margin: $p-margin;
  font-size: $p-font-size;
  font-feature-settings: 'onum' 1;
}
.app-container{
	width: 100%;
	height: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.logo{
	height: 5rem;
	border-radius: 0.2rem;
}
/* FONT STYLES */
.RobotoThin{
  font-family: $f-roboto-thin;
  font-weight: 300;
}
.computer-font{
  font-family: $f-computer;
}
.Sofia-Pro{
  font-family: $f-sofia;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
  text-transform: uppercase;
}
.text1-2rem{
  font-size: 1.2rem;
}
.text1-3rem{
  font-size: 1.3rem;
}
.text1-5rem{
  font-size: 1.5rem;
}
.text1-8rem{
	font-size: 1.8rem;
}
.text-creme{
  color: $creme;
}
.text-gold{
  color: $gold;
}
.text-left{
  text-align: left;
}
.bold{
  font-weight: 500;
}
.text-bigger{
  font-size: 1.5rem;
  font-weight: bold;
}
/*******************************************************************************************
                                GENERAL STYLES
********************************************************************************************/
.width100{
  width: 100%;
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.width50{
  width: 50%;
  @media only screen and (min-width: 120em){
    max-width: 960px;
  }
}
.block{
	display: block;
}
.inline-block{
  display: inline-block;
}
.nodisplay{
  display: none;
}
.noborder{
  border: none;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.pointer:hover{
  cursor: pointer;
}
.dark-backg{
  background-color: $dark;
}
.padding0-5{
  padding: 0 5%;
}
.padding-top0{
  padding-top: 0 !important;
}
.padding-top2{
  padding-top: 2rem;
}
.margin3-4{
  margin: 3rem 0 4rem 0;
}
.margin2-0{
  margin: 2rem 2rem 2rem 0;
}
.margin-0-auto{
  margin: 0 auto;
}
.margin-top0-5{
  margin-top: 0.5rem;
}
.margin-top1{
  margin-top: 1rem;
}
.margin-top2{
  margin-top: 2rem;
}
.margin-top4{
  margin-top: 4rem;
}
.margin-left1{
  margin-left: 1rem;
}
.no-bord-rad{
  border-radius: 0;
}
input:focus, .form-control:focus{
  background: $creme;
  color: $dark;
  border-color: unset;
  outline: 0;
  box-shadow: none;
  border-radius: 0.2rem;
}
.underline-effect:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $creme;
  transition: width 0.3s;
}
.underline-effect:hover:after{
  width:100%;
  transition: width 0.3s ease-in;
}
/**** Flexbox Styles ****/
.row{
	display: flex;
	flex-direction: row;
}
.center{
  display: flex;
  justify-content: center;
}
.align-center{
  display: flex;
  align-items: center;
}
.column{
	display: flex;
	flex-direction: column;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.space-around{
  display: flex;
  justify-content: space-around;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
}
/*Hover Styles*/
.hover-gold:hover{
  color: $gold;
}
.hover-bold:hover{
  font-weight: bold;
}
.hover-nounderline:hover{
  text-decoration: none;
}
.hover-border:hover, .border-gold{
  border: 1px $creme solid;
}
.hover-padding:hover{
  padding:0.5rem;
}
.a-p:hover{
  text-decoration: none;
  color: $creme;
}
.small{
  font-size: $f-size-base;
}
/*******************************************************************************************
                                LOCAL STYLES
********************************************************************************************/
.errors{
  border: 4px solid $bordo;
}
#btt{
  right: 40px;
  bottom: 40px;
  position: fixed;
  border: none;
}
#arrow{
  width: 2.5rem;
}
.webler-nav{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @media only screen and (min-width: 80em){
    flex-direction: row;
  }
}
.webler-nav-1st-div{
  display: flex;
  justify-content: space-around;
}
.webler-nav-2nd-div{
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 55em){
    width: 100%;
    height: 96.5px;
    flex-direction: row;
  }
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.webler-nav-2nd-div>div{
  margin-top: 1rem;
}
.tablet-li{
  display: none;
  @media only screen and (min-width: 62em){
    display: block;
  }
}
.search-container{
  @media only screen and (min-width: 62em){
    margin-right: auto;
    margin-left: auto;
  }
}
.upload{
  padding: 0.5rem;
  border-radius: 0.1rem;
}
.radio-label{
  width:35%;
}
.cinema img{
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 11rem;
  overflow: hidden;
  filter: brightness(0.2) sepia(1) blur(2px);
  @media only screen and (min-width: 64em){
    height: 100vh;
    margin-top: 6rem;
  }
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.welcome{
  height: 95vh;
  @media only screen and (min-width: 64em){
    height: 95vh;
  }
}
.navi{
  z-index: 100;
}
.searchbar{
  width: 15rem;
  height: 40px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 6px 0 0 0;
  color: $creme;
  background-color: transparent;
  border-bottom: 1px solid $creme;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.search_input, .search_input:focus{
  padding: 0 0 0 2px;
  width: 12rem;
  color: $creme;
  outline: 0;
  background-color: transparent;
  border: 0;
  line-height: $lh-big;
  transition: width 0.4s linear;
}
.search_icon{
  height: 40px;
  width: 40PX;
  padding: 10px 10px 15px 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $creme;
  margin-top: -3px;
}
.summary{
  line-height: $lh-middle;
  font-style: italic;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $creme;
  margin-bottom: .5rem;
}
.artContent{
  min-height: 95vh;
  background: $dark;
  padding: 16rem 0 2rem;
  margin: 0 auto;
  @media only screen and (min-width: 80em){
    padding: 7rem 0 2rem;
  }
}
.navi-dropdown{
  position: absolute;
  display: none;
}
#navbarDropdown{
  white-space: nowrap;
}
#navbarDropdown:after{
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.name-li:hover .navi-dropdown{
  display: block;
}
.login-checkbox{
  margin-top: 0.6rem;
  margin-left: -1.25rem;
}
.search-form .form-control{
  background-color: transparent !important;
}
.form-control, .form-control-edit {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: $f-size-base;
  font-weight: 400;
  line-height: $lh-middle;
  color: $creme;
  background-color: transparent;
  background-clip: padding-box;
  border-bottom: 1px solid $creme;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.form-control-edit{
  font-family: $f-roboto-thin;
  font-weight: 300;
  font-size: 1.575rem;
}
.h1-middle{
  width: 45%;
  position: absolute;
  z-index: 50;
  top: 28rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  @media only screen and (min-width: 64em){
    top: 57%;
  }
  @media only screen and (min-width: 120em){
    max-width: 864px;
  }
}
.register-form-radios{
  width: 10rem;
  padding: 0;
}
.image-show{
  max-height: 25rem;
  overflow: hidden;
  margin: 2rem auto;
}
.image-index-div{
  margin: 3rem 0;
}
/***********************************************************************************
                                  FOOTER
***********************************************************************************/
footer{
  width: 100%;
  background-color: $dark;
  padding: 2rem 10%;
  color: $creme;
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.footer-hr{
  width: 100%;
  @media only screen and (min-width: 120em){
    max-width: 1920px;
  }
}
.footer_ida{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 40em){
    flex-direction: row;
    justify-content: space-around;
  }
  @media only screen and (min-width: 120em){
    max-width: 1344px;
  }
}
.footer_ida a, .footer_social a{
  padding: 0.5rem;
  margin: 0.6rem 0;
  color: $creme;
  font-size: 1.2rem;
  display: block;
}
