// Body
$bf-size: 16px;
$bf-weight: 200;

// Typography
$f-roboto: 'Roboto', Arial, sans-serif;
$f-roboto-thin: 'Roboto Thin', Arial, sans-serif;
$f-computer: 'VT323', Arial, sans-serif;
$f-sofia: 'Sofia Pro', Arial, sans-serif;
$f-size-base: 0.9rem;

//Paragraph:
$p-line-height: calc(1.5em + .2vw);
$p-font-size: calc(18px + .25vw);
$p-margin: calc(1em + .5vw) 0 0.5em 0;

//Line-height:
$lh-middle: 25px;
$lh-big: 40px;

// Colors
$white: #fff;
$creme: #CBBBB8;
$dark: #110f0a;
$gold: #d5a269;
$bordo: #862a37;
$brown: #474544;
